.funny-glasses {
  position: relative;
  left: 215px;
  bottom: 110px;
}

.absolute .bandana {
  position: absolute;
  left: 108px;
  top: 178px;
}

.pawprint {
  position: fixed;
  left: 65px;
  top: 45px;
}

.sticky .luna {
  position: sticky;
  left: 0;
}

.top-hat {
  z-index: 1;
}
